body {
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    color: #1f2021;
    background-color: #f0f4f8;
    display: block;
    margin: 0;
}

h1 {
    margin: 10px 0;
    font-weight: bold;
}

header {
    width: 600px;
    background: white;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    float: right;
    margin-left: 0%;
    transform: translateX(15px);
}


nav {
    background-color: #222;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}



nav a:hover {
    text-decoration: underline;
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.nav1{
    background-color: #222;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    margin-top: 4px;
}

@keyframes slide {
    100% {
        opacity: 0;
        transition-delay: 1.3s;
    }
}

.container {
    width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 10px;
}

main,
article,
p {
    text-transform: capitalize;
}

/*.table {
   
    width: 600px;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    text-align: center;
}*/


table {
    font-family: 'Poppins', sans-serif;
    width: 600px;
    border-collapse: collapse;
    height: 1000px;
}

td,
th {
    border: 3px solid black;
    text-align: left;
    padding: 12px;
}

td {
    text-transform: capitalize;
    text-align: start;
}

strong {
    text-decoration: underline;
}

.tr1 {
    text-align: left;
}


html {
    scroll-behavior: smooth;
}

.scroll-hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s ease;
}

.scroll-visible {
    opacity: 1;
    transform: translateY(0);
}

.top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #0077cc;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    margin-top: 30px;
  }
  
  .project-card {
    background: #ede2e2;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-card h3 {
    text-transform: capitalize;
    margin: 0;
    color: #333;
  }
  
  .project-card a {
    color: #2b2d30;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
  }
  